// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.check {
  list-style: none;
}

.flex {
  display: flex;
  text-align: right;
  margin: 5px;
}
